@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/loe0eql.css");

:root {
    --century: 'century-gothic', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
    --lilac: #8F60FF;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #191919;
    overflow-x: hidden;
}

.fade-out {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 120;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-out 1.4s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.fade-logo {
    width: 2.2vw;
    height: auto;
}

.circle {
    width: 6vw;
    height: 6vw;
    border-radius: 100px;
    padding: 1rem;
    border-left: 2px solid var(--lilac);
    border-bottom: 2px solid transparent;
    animation: spin 1s infinite linear;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px; 
    background-color: var(--lilac);
    border-radius: 10px;
}

.nav {
    width: 100vw;
    height: 12vh;
    font-family: var(--century);
    font-weight: bolder;
    color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    position: fixed;
    z-index: 100;
}

.logo-img {
    height: 6.5vh;
    width: auto;
    margin-top: 0.5rem;
    cursor: pointer;
}

.nav-items {
    width: 38vw;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-item {
   color: white;
   font-weight: regular;
   transition: 0.4s;
}

.nav-item:hover {
   cursor: pointer;
    transform: scale(1.2);
}

.landing-section {
    width: 100vw;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    overflow-x: hidden;
}

.title-and-stuff {
    width: 60%;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.social-media-icons {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0rem 0rem 2.5rem 2.5rem;
    box-sizing: border-box;
}

.icon {
    display: block;
    margin-top: 1.3rem;
    width: auto;
    height: 0.8rem;
}

.icon {
    transition: 0.3s;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.title {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24%;
    padding-bottom: 2rem;
}

.button {
     margin-top: 2.7rem;
    font-family: var(--quicksand);
    color: white;
    font-size: 1rem;
    font-weight: regular;
    padding: 0.7rem 2.8rem 0.7rem 2.8rem;
    color: #fff;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 2px;
    transition: 0.5s;
    z-index: 1;
 }
 
.button:hover {
    cursor: pointer;
     transform: scale(1.2);
     z-index: 1000;
     opacity: 1;
 }
 
.button:before {
     content: '';
     position: absolute;
     top: 0;
     left: -100px;
     width: 80px;
     height: 100%;
     background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
     transform: skewY(35deg);
     transition: 0s;
 }
 
.button:hover:before {
     left: calc(100% + 100px);
     transition: 0.5s;
     transition-delay: 0.2s;
 }

.title-img {
    width: 35vw;
    height: auto;
}

.me-one-img {
    width: 40%;
    height: auto;
}

.scroll-img {
    width: 1.5rem;
    height: auto;
    margin-left: 70%;  
    margin-top: auto;
}

.sticky-logo {
    width: 12vw;
    height: auto;
    opacity: 0.03;
    position: fixed;
    z-index: -1;
    top: 35vh;
    left: 75vw;
}

.portfolio-section {
    padding-top: 10vh;
    width: 100vw;
    padding-left: 14vw;
    transform: translateY(-26vh);
}

.portfolio-title-title {
 font-family: var(--century);
 color: white;
 font-weight: bolder;
 font-size: 2.3rem;
 letter-spacing: 0.1rem;
}

.portfolio-arrow-and-text {
    display: flex;
    padding-top: 0.8rem;
}

.arrow {
    width: 1.4rem;
    height: auto;
    margin-right: 0.7rem;
}

.portfolio-title-text {
    font-family: var(--quicksand);
    font-weight: lighter;
    color: white;
    font-size: 1.1rem;
}

.projects {
    width: 100vw;
    box-sizing: border-box;
    margin-top: 9vh;
}

.project {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.project-img {
 width: 46vw;
 height: auto;
 transform: translateX(-2.3vw);
 transition: 0.7s;
}

.chevrons {
    width: 3rem;
    height: auto;
    opacity: 0;
    margin-left: 0vw;
    transition: 0.8s;
    transition-delay: 0.2s;
}

.project:hover > .project-img{
   transform: scale(1.07) translateX(-2.3vw);
}

.project:hover > .chevrons{
    opacity: 1;
    margin-left: 3vw;
 }

 .about-me-section {
     width: 100vw;
     height: fit-content;
     box-sizing: border-box;
 }

 .first-container {
    box-sizing: border-box;
     display: flex;
     padding: 10vh 19vw 0vh 17vw;
 }

 .me-too-img {
     width: 22rem;
     height: 22rem;
 }

 .about-me-first-text {
 padding-left: 5rem;
 padding-top: 3rem;
 }

 .about-me-second-text {
    padding-right: 8vw; 
    padding-top: 6.5vh;
 }

 .text {
     margin-top: 1.5rem;
     color: white;
     font-family: var(--quicksand);
     font-size: 0.9rem;
     font-weight: lighter;
     line-height: 1.5rem;
 }

 .second-container {
    box-sizing: border-box;
    display: flex;
    padding: 0vh 17vw 15vh 20vw;
 }

 .kari-bari {
     display: flex;
     flex-direction: column;
 }

 .kari-heart {
     width: 20vw;
     height: auto;
     transform: translateY(-20%) translateX(-10%);

 }

 .small-heart {
     width: 2vw;
     height: auto;
     margin-left: 11.5vw;
     transform: translateY(-30%);
    animation: wiggle 0.6s ease-in-out infinite alternate;
 }

 .big-heart {
    width: 3vw;
    height: auto;
    margin-left: 13vw;
    transform: translateY(-17%);
    animation: wiggleB 0.6s ease-in-out infinite alternate;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@keyframes wiggleB {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
    }
}


.container {
    margin-top: 13vh;
    background: rgba(255,255,255, 0.03);
    width: 100vw;
    height: fit-content;
    padding: 18vh 0  18vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-desktop {
    text-align: left; 
    width: 32vw; 
    padding-left: 14vw;
}

.img-background {
    background-image: url(./assets/dev.svg) ;
    background-position: center;
    width: 100vw;
    height: 30vh;
}

.dev {
    opacity: 0;
    transform: translateX(100%);
    width: 100vw;
    height: auto;
    position: absolute;
}

.dev-text {
    z-index: 10;
    width: 55vw;
    text-align: center;
    position: relative;
    z-index: 100;
}

.contacts-section {
    margin-top: 50vh;
    padding: 0vh 0 30vh 0;
     width: 100vw;
     display: flex;
}

.conatiner-get-in-touch {
   width: 50vw;
   height: 38vh;
   background: #202020;
   border-top-right-radius: 34px;
   border-bottom-right-radius: 34px;
   box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.24);
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.get-in-touch {
    width: 20vw;
}

.container-bubbles {
    width: 40vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-7vw);
}

.phone, .email{
    width: fit-content;
    height: fit-content;
    display: flex;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
    font-family: var(--quicksand);
    color:#202020;
    padding: 0.65rem;
    font-weight: 600;
    margin: 0.5rem;
    font-size: 1.1rem;
}

.phone-icon {
    width: 1rem;
    height: auto;
    margin-right: 0.55rem;
}

.email-icon {
    width: 1.1rem;
    height: auto;
    margin-right: 0.55rem;

}

.container-socials {
    margin-left: auto;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5vw;
}

.close-easy, .close-prekrasna, .close-arpha, .close-bindexis, .close-bs {
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background: white;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5vh;
    left: 90vw;
    cursor: pointer;
}

.close-icon {
    width: 1.1rem;
    height: auto;
}

.easy-case, .prekrasna-case, .arpha-case, .bindexis-case, .bs-case {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    height: fit-content;
    position: absolute;
    z-index: 110;
    padding: 10vh 0 10vh 0;
}

.case-study {
    width: 70vw;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 3px 20px black;
    animation: slide-up 1s ease-in-out forwards;
}

.slide-down {
    animation: slide-down 1s ease-in-out;
}

.burger, .close-icon-mobile {
    display: none;
}

@keyframes slide-up {
    0% {
        transform: translateY(50vw);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
        }
}

.slide-left {
    animation: slide-left 2s ease-in-out forwards;
}




@media only screen and (max-width: 1100px) {


    .body {
        overflow-x: hidden;
    }

    .fade-logo {
        width: 7vw;
    }

    .circle {
        width: 14vw;
        height: 14vw;
    }

    .nav-items {
        display: none;
width: 70vw;
height: 100vh;
position: fixed;
top: 0;
right: 0;
z-index: -7;
box-shadow: -5px 0 50px rgba(0, 0, 0, 0.7);
box-sizing: border-box;
background-color: black;
padding: 13vh 10vw 30vh 10vw;
    }

    @keyframes show-nav {
        0% {
            transform: translateX(120%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    @keyframes hide-nav {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(120%);
        }
    }

    .show-nav {
animation: show-nav 0.5s ease-in-out forwards;
    }

    .hide-nav {
        animation: hide-nav 0.5s ease-in-out forwards;
            }

    .nav-item {
margin-bottom: 6.5vh;
    }

    .burger {
        display: block;
        margin-left: auto;
        width: 2rem;
        height: auto;
    }

    .logo-img {
        width: 2rem;
    }

    .landing-section {
        display: block;
    }

    .sticky-logo {
        width: 30vw;
    left: 35vw;
    }

    .title-and-stuff {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    
    .social-media-icons {
        display: none;
    }
    
    .title {
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        height: fit-content;
        padding: 5vh 0 5vh 0;
        margin-top: 43vh;
    }
    
    .title-img {
        width: 88vw;
        height: auto;
    }
    
    .me-one-img {
        width: 120%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -3;
    }
    
    .scroll-img {
        display: none;
    }

    .button {
        margin-top: 3vh;
    }

    .portfolio-section {
        box-sizing: border-box;
        width: 100vw;
        padding: 15vh 0vw 0 0vw;
        transform: translateY(0);
        overflow-x: hidden;

    }
       
       .portfolio-title-text {
           font-size: 1rem;
           width: 80vw;
       }

       .portfolio-header {
           padding-left: 11vw;
       }

       .portfolio-arrow-and-text {
        padding-left: 11vw;
       }
       
       .projects {
           margin-top: 6vh;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
        overflow-x: hidden;
       }
       
       .project {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(5%);
        overflow-x: hidden;
       }
       
       .project-img {
        width: 100%;
        height: auto;
       }
       
       .chevrons {
           display: none;
       }
       
       .project:hover > .chevrons{
           display: none;
        }

        .about-me-section {
            width: 100vw;
            height: fit-content;
            box-sizing: border-box;
        }
       
        .first-container {
           box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 20vh 10vw 0vh 10vw;
            justify-content: center;
            align-items: center;
        }
       
        .me-too-img {
            width: 80vw;
            height: 80vw;
        }
       
        .about-me-first-text {
        padding-left: 0rem;
        padding-top: 3rem;
        }
       
        .about-me-second-text {
            padding-right: 0vw; 
            padding-top: 0vh;
            padding-bottom: 7vh;
         }

        .second-container {
           box-sizing: border-box;
           display: flex;
           display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           padding: 3vh 10vw 7vh 10vw;
        }
       
        .kari-bari {
            display: flex;
            flex-direction: column;
        }
       
        .kari-heart {
            width: 60vw;
            height: auto;
            transform: translateY(-15%) translateX(0%);
       
        }
       
        .small-heart {
            width: 7vw;
            height: auto;
            margin-left: 35vw;
        }
       
        .big-heart {
           width: 10vw;
           height: auto;
           margin-left: 40vw;
       }

       .container {
        margin-top: 0vh;
        padding: 10vh 10vw 10vh 10vw;
        box-sizing: border-box;
    }

    .dev-text {
        width: 100%;
        z-index: 0;
    }
    
    .dev {
        opacity: 1;
        transform: translateX(0%);
    }

    .ul-desktop {
        text-align: left; 
        width: 70vw; 
        padding-left: 7vw;
    }

    .contacts-section {
        margin-top: 30vh;
        padding: 0vh 0 10vh 0;
         width: 100vw;
         display: flex;
         flex-direction: column;
    }
    
    .conatiner-get-in-touch {
       width: 90vw;
       height: fit-content;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 5vh 10vw 10vh 10vw;
    }
    
    .get-in-touch {
        width: 100%;
    }
    
    .container-bubbles {
        width: 100vw;
        height: fit-content;
        transform: translateX(2vw) translateY(-30%);
    }
    
    .phone, .email{
        width: fit-content;
        height: fit-content;
        font-size: 0.95rem;
    }
  
    .container-socials {
        margin-left: 0;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 10vh 0vw 0vh 10vw;
    }

    .icon {
        margin: 0 10vw 0 0vw;
    }

    .close-easy, .close-prekrasna, .close-arpha, .close-bindexis, .close-bs {
        width: 2.5rem;
        height: 2.5rem;
        z-index: 200;
        border-radius: 100px;
        background: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 4vh;
        left: 87vw;
        cursor: pointer;
    }
    
    .close-icon {
        width: 1.1rem;
        height: auto;
    }
    
    .easy-case, .prekrasna-case, .arpha-case, .bindexis-case, .bs-case {
        display: none;
        width: 100vw;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.85);
        height: fit-content;
        position: absolute;
        z-index: 110;
        padding: 5vh 0 370vh 0;
    }
    
    .case-study {
        width: 100vw;
        border-radius: 10px;
    }
} 